* {
    color: #FFF;
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
    color: #E9BCB6;
}

.thead-darky {
    background-color: #E50914;
    color: white;
    font-weight: 400;
    border-style: none;
    font-family: 'Arial', sans-serif;
}

table{
    text-align: center;
}

.thead-darky th {
    font-weight: 400;
    font-size: 16px;
}

.mybutton{
    background-color: #E50914 !important;
    border-radius: 8px !important;
    border-color: transparent !important;
    color: white !important;
}

.mybutton:hover{
    background-color: #F33942 !important;
    transform: scale(1.06) !important;
    border-color: transparent !important;
    color: white !important;
}

form .btn-primary{
    background-color: #E50914;
    border-radius: 8px;
    border-color: transparent;
    width: 50%;
    color: white;
}

form .btn-primary:hover{
    background-color: #F33942;
    transform: scale(1.06);
    border-color: transparent;
    color: black;
    transition: background-color 0.7s, transform 0.7s, ease-in-out;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.gap-4p{
    gap: 4px !important;
}

.gap-8p{
    gap: 8px !important;
}

.gap-12p{
    gap: 12px !important;
}

.gap-16p{
    gap: 16px !important;
}

.gap-20p{
    gap: 20px !important;
}

.gap-36p{
    gap: 36px !important;
}

.gap-100p{
    gap: 100px !important;
}

.gap-120p{
    gap: 120px !important;
}

.gap-16p{
    gap: 16px !important;
}

h1, h2, h3, h4, h5, h6{
    font-family: "inter", sans-serif;
}

h1{
    font-family: "Epilogue", sans-serif;
    font-size: 76px !important;
    font-style: normal !important;
    font-weight: 900 !important;
    line-height: 4rem !important; /* 100% */
    letter-spacing: -0.02em !important;}

.bg-darker{
    background: rgba(19, 19, 19, 0.60);
    backdrop-filter: blur(10px);
}

/* nav bar colour change */
.nav-link-custom {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
}

.nav-link-custom.active {
    color: #DC2626;
}

.normal-a, .navbar a{
    text-decoration: none;
    color: white;
}

.navbar a:hover{
    color: #DC2626;
    scale: 1.05;
    transition: color 0.7s, scale 0.7s, ease-in-out;
}

.navbar img{
    width: 36px;
    height: 36px;
}

h2{
    font-family:"Epilogue", sans-serif;
    font-weight: 900;
}

form .form-control{
    border-radius: 20px;
    border: transparent;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #F7F7F7;
}

form input:focus, form select:focus, form textarea:focus{
    background-color: #F7F7F7 !important;
    background-image: none !important;
}
.bg-showtime {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: 
        linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
        url('/static/images/bg2.png') center/cover no-repeat;
}

.hero-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: 
            linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
            url('/static/images/bg.jpg') center/cover no-repeat;
}

.para-home{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 80vh;
    margin: 40px;
}

.profile-container{
    width: 50%;
    flex-wrap: nowrap
}

.profile-field {
    background-color: #F7F7F7;
    border-radius: 20px;
    padding: 12px 20px;
    width: 260px;
    font-size: 15px;
    font-family: "inter", sans-serif;
}
.profile-label {
    font-weight: 400;
    margin-bottom: 4px;
    font-family: "inter", sans-serif;
}


.table-row-link a {
    text-decoration: none !important;
    color: inherit !important;
}


.table-row-link:visited,
.table-row-link:active,
.table-row-link:focus {
    text-decoration: none !important;
    color: inherit !important;
    outline: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #f9f9f9 inset !important; /* your background color */
  box-shadow: 0 0 0 1000px #f9f9f9 inset !important;
  -webkit-text-fill-color: #000 !important; /* keep your text readable */
  caret-color: #000; /* makes the cursor visible */
}

